@import url(reset.css);
.row{
	display: flex;
	height: 100vh;
}
.left,.right{
	overflow-y: auto;
}
.left{
	flex: 4;
	background-color: #ffa;
	/*flex-flow: row wrap;*/
}
.right{
	flex: 1;
	background-color: #ffd;
	flex-direction: column;
	text-align: center;
}
@media(max-width: 500px){
	.right{
		text-align: left;
	}
}
.wrapper{
	display: flex;
	width: 95%;
	margin: 5px auto;
	justify-content: space-around;
}
.caption, .time, .delete{
	background-color: white;
	border: 2px solid black;
	border-radius: 5px;
	font: 30px Calibri;
	margin: 0 2px;
}
.caption{
	flex: 3;
}
.caption p{
	margin: 0 5px;
}
.time , .delete {
	flex: 1;
	text-align: center;
}